textarea{
    font-family: 'Courier New', Courier, monospace;
    max-width:550px;
    width: 550px;
    min-height: 200px;
    resize:none;
    text-align: left;
    color: black;
    word-break: break-all;
    margin: 10pt;}

    table{
        width: auto;
        margin-left: 110pt;
    }
    .read{
        font-family: 'Courier New', Courier, monospace;
        max-width:550px;
        width: 550px;
        min-height: 200px;
        resize:none;
        text-align: center;
        border: none;
        color: black;
        word-break: break-all;
        margin: 10pt;}
    
    button{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(133, 255, 255);
        border: rgb(100, 255, 255);
        border-radius: 8pt;
        height: 40pt;
        width: 40pt;
        font-weight: bold;
        cursor: pointer;
        font-size: 20pt;
        box-shadow: 0 9px rgb(0, 0, 0);
    }
    button:hover{
    background-color: #0b84a8
    }
    button:active {
        background-color: #020069;
        box-shadow: 0 5px rgb(0, 0, 0);
        transform: translateY(4px);
        color: linen;
      }

    div{
        font-family: Arial, Helvetica, sans-serif;
        height: auto;
        text-align: center;
        width: auto;
    }
    h2{
        width: auto;
        height: 20pt;
        color: darkslategrey;
        background-color: rgba(158, 241, 229, 0.459);
    }
    td{
        text-align: center;
    }
    tr.comment{
        color:linen;
    }

    .long-arrow-left{
      display: block;
      margin: auto;
      width: 25px;
      height: 25px;
      border-top: 2px solid rgb(255, 255, 255);
      border-left: 2px solid rgb(255, 255, 255);
      transform: rotate(225deg);
    }