textarea{
    max-width:550px;
    width: 550px;
    min-height: 200px;
    resize:none;
    text-align: center;
    border: none;
    color: black;
    word-break: break-all;}
    h2{
        text-align: center;
    }