<div class='stathead'>
  <h2>Statistics:</h2>
</div>
<div class="stat">
  <p style="font-size: 20px; font-weight: bold;">Similarity percentage: {{responseFromComparision?.percentOfSimilarity | percent}}</p>
  <div style="display: flex; flex-direction: row; gap:10px">
    <div style="flex-grow: 1;"><b>Variables existing only in 1st code</b>
      <p *ngFor="let element of responseFromComparision?.aVariables">{{element}}</p>
    </div>
    <div style="flex-grow: 1;"><b>Variables existing only in 2nd code</b>
      <p *ngFor="let element of responseFromComparision?.bVariables">{{element}}</p>
    </div>
    <div style="flex-grow: 1;"><b>Common variables</b>
      <p *ngFor="let element of responseFromComparision?.commonVariables">{{element}}</p>
    </div>
    <div style="flex-grow: 1;"><b>Differences in keywords usage</b>
        <p *ngFor="let element of responseFromComparision?.difference | keyvalue">{{element.key}}: {{element.value}}</p>
      </div>
  </div>
