
textarea{
    max-width:500px;
    width: 500px;
    min-height: 200px;
    resize:none;
    color: black;
    word-break: break-all;
    margin: 5pt;
    font-family: 'Courier New', Courier, monospace;


}

textarea.read{
    font-family: 'Courier New', Courier, monospace;
    max-width:550px;
    width: 550px;
    min-height: 200px;
    resize:horizontal;
    text-align: center;
    border: none;
    color: black;
    word-break: break-all;}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25pt;
    width: auto;
    height: 30pt;
    color: rgb(0, 6, 56);
    background-color: rgba(130, 240, 255, 0.89);
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 255, 255);
    border: rgb(100, 255, 255);
    border-radius: 8pt;
    height: 40pt;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 9px rgb(0, 0, 0);
}
button:hover{
    background-color: #0b84a8
}
button:active {
    color: linen;
    background-color: #020069;
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
  }
