

textarea{
    max-width:500px;
    width: 500px;
    min-height: 200px;
    resize:none;
    color: black;
    word-break: break-all;
    margin: 10pt;
    font-family: 'Courier New', Courier, monospace;


}

textarea.read{
    font-family: 'Courier New', Courier, monospace;
    max-width:550px;
    width: 550px;
    min-height: 200px;
    resize:horizontal;
    text-align: center;
    border: none;
    color: black;
    word-break: break-all;
    margin: 10pt;}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30pt;
    font-size: 25pt;
    width: auto;
    height: 30pt;
    color: darkslategrey;
    background-color: rgba(158, 241, 229, 0.459);
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(90, 124, 124, 0.404);
    border: darkslategray;
    border-radius: 8pt;
    height: 40pt;
    cursor: pointer;
    box-shadow: 0 9px #999;
}
button:hover{
background-color: #86e689
}
button:active {
    background-color: #86e689;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }