textarea{
    max-width:500px;
    width: 500px;
    min-height: 200px;
    resize:none;
    color: black;
    word-break: break-all;

}
table{
    width: auto;
}
h1{
    text-align: center;
    font-size: 25pt;
    width: auto;
    height: auto;
    color: darkslategrey;
    background-color: rgba(158, 241, 229, 0.459);
}
